


/**
 * global
 */
html, body,#root,#root>div,#root>div>div{
        height: 100%;
        width: 100%;

}

.height_full {
        height: 100%;
        // overflow-y: hidden;
}
/**
 * loading
 */
.ycf-loading_container {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background: rgba(0,0,0,0.3);
        display: flex;
        align-items:center;
        justify-content: center;
}

/**
 * login
 */
.ycf-login_form {
        display: flex;
        flex-direction: column;
        align-items:center;
        justify-content: center;
}



.example-paging {
        li {
                height: 80px;
        }
}
